.container {
	/* overflow: hidden; */
}

/* This is the style for the dummy image slider. Animations are in fx[type].css */

.component {
	margin: 0 auto;
	position: relative;
	margin-bottom: 40px;
	max-width: 100%;
}

.component-fullwidth {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	background: #333;
}

.component > ul {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.component-fullwidth > ul {
	overflow: hidden;
}

.component li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 999;
}

.component-fullwidth li {
	overflow: hidden;
}

.component .current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

/* .component li img {
	display: block;
	max-width: 100%;
}

.component-fullwidth li img {
	min-width: 100%;
	max-width: none;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
} */