.cls-one {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFF;

    & > iframe {
      width: 100%;
      height: calc(100% - 10px);
      border: 0;
    }
  }
}