@import "../../styles/mixin.scss";

.App {
  background-color: #282c34;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.App-header {
  display: flex;
  margin: 20px;
  text-align: left;

  .App-logo {
    height: 70px;
    border-radius: 50%;
    pointer-events: none;
  }
}